---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="authors-grid">
  {
    authors.map((author) => (
      <div class="author-chip">
        <div class="author-name">
          {author.url ? <a href={author.url}>{author.name}</a> : author.name}
          {author.notes && (
            <sup class="text-base">
              {author.notes.map(
                (note, index, array) =>
                  note + (index < array.length - 1 ? "," : ""),
              )}
            </sup>
          )}
        </div>
        {author.institution && <div class="author-institution">{author.institution}</div>}
      </div>
    ))
  }
</div>
