---

---

<figure class="figure-frame">
  <div class="figure-media flex w-full justify-center **:my-0">
    <slot name="figure" />
  </div>
  <figcaption class="figure-caption text-center">
    <slot name="caption" />
  </figcaption>
</figure>
