---
import { Icon } from "astro-icon/components";
import type { Link } from "../types/types";

interface Props {
  links: Link[];
}

const { links } = Astro.props;
---

<div class="not-prose links-grid">
  {
    links.map((link) => (
      <a
        href={link.url}
        class="resource-pill"
      >
        {link.icon && <Icon name={link.icon} />}
        <span>{link.name}</span>
      </a>
    ))
  }
</div>
